/* Simple flex-box body */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}
/* Defining Search bar so it can be a spare element
on top of the page */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  max-width: 100%;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  max-width: 350px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.search-input {
  border: none;
  padding: 5px;
  font-size: 16px;
  flex: 1;
  border-radius: 5px 0 0 5px;
}
.search-button {
  padding: 8px 25px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  flex: 1;
}
.product-list {
  display: flex;
	flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  width: 100%;
  padding: 0px 100px 100px 0px;
}
.search-result {
  display: flex;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px auto;
}
.product-image {
  padding: 10px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.detailed-info {
  padding: 5px;
}
.search-title {
  max-width: 300px;
}
.container {
	max-width: 300px;
  height: 320px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
  border-radius: 5px;
}